body{
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #3C486B;
    color: white;
}
#container{
    display: flex;
    flex-direction: column;
}
#container > #red-box{
    height: 200px;
    width: 1000px;
    background-color: #CE1126;
}
#container > #white-box{
    height: 200px;
    width: 1000px;
    background-color: white;
}
